:root {
    /* Variables HEX */
    --violet-web-color: #ff8dff;
    --princeton-orange: #ff9322;
    --lavender-floral: #ba71d4;
    --baby-powder: #fdfffc;
}

body {
    background-color: var(--baby-powder);
    font-family: 'Bree Serif', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Ajuste el padding */
    width: 100%;
    box-sizing: border-box;
}

.title {
    border: solid 1px var(--princeton-orange);
    background-color: var(--princeton-orange);
    color: var(--baby-powder);
    width: 90%; /* Asegúrate de que ocupe el ancho completo */
    max-width: 500px;
    min-width: 300px; /* Tamaño mínimo */
    height: auto; /* Permitir que se ajuste según el contenido */
    border-radius: 6px;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.title2{
    border: solid 1px var(--princeton-orange);
    background-color: var(--princeton-orange);
    color: var(--baby-powder);
    width: 80%; /* Ajuste responsivo */
    max-width: 500px;
    min-width: 300px; /* Tamaño mínimo */
    height: auto;
    border-radius: 6px;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.calendar {
    width: 90%; /* Asegúrate de que ocupe el ancho completo */
    max-width: 120px; /* Establece un ancho máximo para el calendario */
    background-color: var(--violet-web-color);
    border-radius: 8px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #333;
    overflow: visible; /* Asegúrate de que el contenido no se corte */
    margin-top: 20px; /* Espacio superior */
    padding: 15px 0; /* Espaciado interno */
    box-sizing: border-box; /* Para incluir el padding en el tamaño total */
}


.calendar-header {
    background-color: var(--violet-web-color);
    padding: 8px 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
}

.calendar-header::before,
.calendar-header::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.calendar-header::before {
    left: 20px;
}

.calendar-header::after {
    right: 20px;
}

.calendar-body {
    background-color: white;
    padding: 15px 0;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.flip {
    animation: flipPage 1s ease-in-out forwards;
}

@keyframes flipPage {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.ventana {
    border: solid 5px var(--lavender-floral);
    width: auto;
    height: auto;
    margin: 10px;
    box-sizing: border-box;
}

@media (max-width: 375px) { /* iPhone SE */
    .title {
        margin-top: 100%;
        display: fixed;
        height: 100%;
        font-size: 1.2rem; /* Tamaño de fuente más pequeño */
        padding: 10px; /* Ajuste el padding */
    }

    .calendar {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        height: auto;
        max-width: none; /* Eliminar el ancho máximo */
    }

    .calendar-header {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    }

    .calendar-body {
        font-size: 1rem; /* Tamaño de fuente más pequeño */
    }
}
@media (max-width: 360px) { /* iPhone SE */
    .title {
        margin-top: 100%;
        display: fixed;
        height: 100%;
        font-size: 1.2rem; /* Tamaño de fuente más pequeño */
        padding: 10px; /* Ajuste el padding */
    }

    .calendar {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        height: auto;
        max-width: none; /* Eliminar el ancho máximo */
    }

    .calendar-header {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    }

    .calendar-body {
        font-size: 1rem; /* Tamaño de fuente más pequeño */
    }
}
/* Media Queries para dispositivos móviles y tabletas */
@media (max-width: 767px) { /* Dispositivos pequeños y medianos */
    .title {
        margin-top: 100%;
        width: 80%; /* Cambiado para permitir que la altura se ajuste */
        font-size: 1.2rem; /* Ajuste de tamaño */
        padding: 10px;
    }
    .title2 {
        width: 80%; /* Cambiado para permitir que la altura se ajuste */
        height: auto;
        font-size: 1.2rem; /* Ajuste de tamaño */
        padding: 10px;
    }

    .ventana video{
        width: 100%;
        align-items: center;
    }

    .calendar {
        width: 80%; /* Ajustar el ancho en dispositivos más pequeños */
        max-width: none; /* Eliminar el ancho máximo para mayor flexibilidad */
    }

    .calendar-header {
        font-size: 0.8rem; /* Ajuste de tamaño */
    }

    .calendar-body {
        font-size: 1rem; /* Ajuste de tamaño */
    }

    .content {
       
        padding: 10px; /* Ajuste de padding */
    }
}

@media (max-width: 1024px) { /* Tablets */
    .title {
        margin-top: 30%;
        font-size: 1.5rem; /* Un poco más grande para tablets */
    }
    

    .calendar {
       
        width: 70%; /* Más ancho para pantallas de tabletas */
    }

    .calendar-header {
        font-size: 1rem;
    }

    .calendar-body {
        font-size: 1.2rem; /* Ajuste de tamaño */
    }
}

@media (max-width: 1280px) { /* Dispositivos más grandes */
    .title {
        
        font-size: 1.7rem; /* Ajuste de tamaño */
    }

    .calendar {
     
        width: 60%; /* Ancho ajustado para pantallas más grandes */
    }
}

/* Estilos generales para asegurar que los textos sean legibles */
body {
    font-size: 16px; /* Base de fuente */
}

.content {
    padding: 10px; /* Para que no esté pegado al borde */
}

.title, .calendar {
    width: 90%; /* Asegúrate de que se ajuste bien en pantallas grandes */
    max-width: 500px; /* Maximo ancho */
}
